.radioStar{
    display: none;
}
.star {
    font-size: 28px;
    color: grey;
}
.valoracion {
    float: right;
    margin-right: 35rem;
}

.btn_review {
    margin-top: 0.5rem;
    border: none;
    width: 3rem;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: rgb(8, 83, 11);
    color: white;
    margin-right: 35rem;
    font-size: 15px;
    
}
.btn_review:hover {
cursor: pointer;
background-color: #0eda30;
}
.nombre {
    margin-right: 2rem;
    font-size: 17px;
    font-weight: bold;
    
}
.comentario {
    width: 30rem;
    height: 6rem;
    margin-right: 35rem;
}
.contenedor_comentarios {
    margin-top: 4rem;
}