@import '../global.scss';

.logModalUser {
    background-color: #f8f7f7;
    margin-bottom: 2rem;
    width: 100%;
    height: 100%;
}
.regisTitulo {
    margin-bottom: 2rem;
    padding-top: 2rem;
    text-align: center;
    color: #413e3e;
    @media #{$smarmini}{
        font-size: 1.8ex;
      }
      @media #{$smarphone}{
        font-size: 2.3ex;
      }
      @media #{$tablet}{
        font-size: 2.5ex;
      }
 }

 .modal_dialog_user{
    border: 1px solid black;
    border-radius: 1rem;
    align-items: center; 
    margin: auto;
    width: 80%; 
    height: 100%;
    background-color: rgb(233, 233, 233);
 }
 .formLoginUser{
     width: 100%;
     height: 100%;
 }
 .formLoginUser_input {
    width: 90%;
    border:none;
    border-bottom: 0.5px solid rgb(170, 161, 161);
    outline: none;
    color: #867f7f;
    font-size: 2.5vh;
    font-weight: 500;
    background-color: rgb(233, 233, 233);
    text-align: center;
    @media #{$smarmini}{
       font-size: 1.2ex;
     }
     @media #{$smarphone}{
       font-size: 1.4ex;
     }
     @media #{$tablet}{
       font-size: 1.6ex;
     }
    
 }

 
 .regisLeft {
     width: 50%;
   margin-top: 5%;
 }

 .regisLeft h3 {
     text-align: center;
     font-size: 3.5vh;
     @media #{$smarmini}{
        font-size: 1.2ex;
      }
      @media #{$smarphone}{
        font-size: 1.4ex;
      }
      @media #{$tablet}{
        font-size: 1.6ex;
      }
     
 }
 
 .contraseña {
     width: 100%;
     height: 20%;
     &_div{
         width: 100%;
         height: 100%;
        @include caja-flex(flex,row,center,center,nowrap);
     }
     
 }



.google_btn {
    width: auto;
    margin-top: 5%;
    border-radius: 10%;
    margin-bottom: 5%;
}
.google_btn div{
    width: auto;
}
.google_btn span{
    width: auto;
}
.regisBtn {
    width: auto;
    margin-top: 5%;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    padding: 0.6rem; 
    margin-bottom: 5%;
    background-color: sandybrown;
    color: #413e3e;
    font-weight: bold;
    text-align: center;
    @media #{$smarmini}{
       font-size: 1.4ex;
     }
     @media #{$smarphone}{
       font-size: 1.6ex;
     }
     @media #{$tablet}{
       font-size: 1.8ex;
     }
 }
 .regisBtn:hover {
    cursor: pointer;
    background-color: rgb(255, 168, 6);
    color: white;
    font-weight: bold;
    box-shadow: 0 0 15px sandybrown;
 }
 