@import '../global.scss';
.openPop{
    border: none;
    width: 80%;
    padding: 4%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.604);
    color: #1c1b1b;
    font-size: 2vh;
    @media #{$smarmini}{
        font-size: 1ex;
        width: 79%;
    }
    @media #{$smarphone}{
        font-size: 1.3ex;
        width: 70%;
    }
    @media #{$tablet}{
        font-size: 1.4ex;
        width: 90%;
    }
}

.openPop:hover{
cursor: pointer;
text-decoration: underline; 
}
.closePop{
    margin-top: 10px;
    border: none;
    padding: 0.6rem;
    border-radius: 5px;
    background-color: rgb(244, 164, 96);
    color: white;
    font-weight: bold;
    font-size: 15px;
    width: 60%;
    margin-left: 20%;
    @media #{$smarmini}{
        font-size: 1.6ex;
    }
    @media #{$smarphone}{
        font-size: 1.8ex;
    }
    @media #{$tablet}{
        font-size: 2ex;
    }
}
.inputMail{
    border-style: hidden;
    margin-left: px;
    background-color: rgb(134, 128, 128, 0.2);
    padding: 4%;
    margin-bottom: 5%;
    margin-top: 5%;
    @media #{$smarmini}{
        font-size: 1.6ex;
        border-radius: 5px;
    }
    @media #{$smarphone}{
        font-size: 1.8ex;
        border-radius: 5px;
    }
    @media #{$tablet}{
        font-size: 2ex;
        border-radius: 15px;
    }
}
#enviaPop{
    width: 100%;
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: grey;
    color: white;
    font-weight: bold;
    font-size: 15px;
    width: 60%;
    margin-left: 20%;
    @media #{$smarmini}{
        font-size: 1.6ex;
    }
    @media #{$smarphone}{
        font-size: 1.8ex;
    }
    @media #{$tablet}{
        font-size: 2ex;
    }
   
}
.igqBJM{
    @include caja-flex(flex,column,center,center,nowrap);
}
.pepe{
    position: relative;
    display:grid;
    background-color:#fff; 
    margin-top:5%;
    width: 60%;
    height: 90%;
    @media #{$smarmini}{
        width: 80%;
        border-radius:5px ;
    }
    @media #{$smarphone}{
        width:80% ;
        border-radius: 10px;
    }
    @media #{$tablet}{
        width:80% ;
        border-radius: 15px;
    }
}

#pepeA{
    z-index: 2;
    position: absolute;
    width:100% ;
    height: 100%;
    padding: 3%;
    transition:  all 0.5s ease-in-out;
    @media #{$smarmini}{
        font-size: 1.4ex;

    }
}

#pepeB{
    margin-top: 10%;
    padding: 5%;
    height: 100%;
    width:100% ;
    opacity: 0;
    z-index: 1;
    transition:  all 0.5s ease-in-out;

    @media #{$smarmini}{
        font-size: 1.4ex;
    }
    @media #{$smarphone}{
        font-size: 1.6ex;
    }
}
.inputrecover{
    background-color: rgb(134, 128, 128, 0.2);
    padding: 3%;
    border:none;
    @media #{$smarmini}{
        font-size: 1.6ex;
        border-radius: 5px;
    }
    @media #{$smarphone}{
        font-size: 1.8ex;
        border-radius: 10px;
    }
    @media #{$tablet}{
        border-radius: 10px;
    }
}
#pepeC{
    height: 100%;
    width:100% ;
    opacity: 0;
    z-index: 1;
    padding: 3%;
    transition:  all 0.5s ease-in-out;
    margin-top: -50vh;

}

#code{
    border-style: hidden;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 1em;
    margin-bottom: 2em;
    margin-top: 25px;
    border-color:rgba(255, 255, 255, 0.2) ;
}

#msgRecoverPass{
    font-size: smaller;
    margin-top: 15px;
}

.buttonBack{
    margin-top: 5%;
    border: none;
    padding: 0.6rem;
    border-radius: 5px;
    background-color: rgb(244, 164, 96);
    color: white;
    font-weight: bold;
    font-size: 15px;
    width: 60%;
    margin-left: 20%;
    @media #{$smarmini}{
        font-size: 1.4ex;
    }
    @media #{$smarphone}{
        font-size: 1.6ex;
    }
}
h3{
    text-align: center;
}
.enviaCode{
    margin-top: 5%;
    border: none;
    padding: 0.6rem;
    border-radius: 5px;
    background-color: rgb(244, 164, 96);
    color: white;
    font-weight: bold;
    font-size: 15px;
    width: 60%;
    margin-left: 20%;
    @media #{$smarmini}{
        font-size: 1.4ex;
    }
    @media #{$smarphone}{
        font-size: 1.6ex;
    }
}

.newPass{
    border:none;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 3%;
    margin-bottom: 5%;
    margin-top: 5%;
    @media #{$smarmini}{
        font-size: 1.4ex;
        border-radius: 5px;
    }
    @media #{$smarphone}{
        font-size: 1.6ex;
        border-radius: 10px;
    }
    @media #{$tablet}{
        font-size: 1.8ex;
        border-radius: 10px;
    }
}