@import '../global.scss';
.div_perfil{
    width: 100%;
    height: 95vh;
    background-color: #f8f7f7;

    @include caja-flex(flex,column,center,center,nowrap);
}
.userContenedor{
    height: 100vh;
    display: flex;
    width: 80%;

    @media #{$smarmini}{
        width: 90%;
        height: 90%;
        margin-left: 5%;
        margin-top: 5%;
    }
    @media #{$smarphone}{
        width: 90%;
        height: 90%;
        margin-left: 5%;
        margin-top: 5%;
    }
    @media #{$tablet}{
        width: 90%;
        height: 90%;
        margin-left: 3%;
        margin-top: 3%;
    }
}

.fotoMarco{
    width: 45%;
    height: auto;
    @include caja-flex(flex,column,center,center,nowrap);
    &_i{
        border-radius: 100%;
        width: 100%;
        height: auto;
    }
    @media #{$smarmini}{
        width: 100%;
        height:auto;
    }
    @media #{$smarphone}{
        width: 100%;
        height:auto;
    }
    @media #{$tablet}{
        width: 50%;
        height:auto;
    }
}
.div_p1{

    @include caja-flex(flex,column,center,center,nowrap);
    margin-right: 3%;
    @media #{$smarmini}{
        width: 40%;
        height:auto;
    }
    @media #{$smarphone}{
        width: 40%;
        height:auto;
    }
    @media #{$tablet}{
        width: 80%;
        height:auto;
      }
}
.table {
    width: 100%;
    padding-top: 3%;
    height: 80%;
    @include caja-flex(flex,column,initial,center,nowrap);
    @media #{$smarmini}{
        padding-top: 30%;
        width: 50%;
    }
    @media #{$smarphone}{
        width: 50%;
        padding-top: 32%;
    }
    @media #{$tablet}{
        width: 50%;
        padding-top: 2%;
    }
}

.realButton{
    @include caja-flex(flex,column,initial,center,nowrap);
    border: none;
    text-align: center;
    margin-top: 1rem;
    width: 100%;
    height: 50%;

}
.realButton span {
    font-weight: bold;
    color: #413e3e;
    font-size: 3vh;
    margin-bottom: 3%;
    cursor: pointer;
    @media #{$smarmini}{
        font-size: 1.4ex;
    }
    @media #{$smarphone}{
        font-size: 1.6ex;
    }
}
.inputFoto {
    border-radius: 10px;
    opacity: 1;
    width: 20%;
    height: 15%;
    font-size: 2.5vh;
    cursor: pointer;
    text-align: center;
    background-color: sandybrown;
    @media #{$smarmini}{
        width: 80%;
        border-radius: 5px;
        height: 10%;
    }
    @media #{$smarphone}{
        width: 80%;
        border-radius: 5px;
        height: 10%;
    }
    &_i{
        opacity: 0;
        width: 80%;
    }
    &_l{
        color: white;
        @media #{$smarmini}{
            font-size: 1.4ex;
        }   
        @media #{$smarphone}{
           font-size: 1.6ex;
        }
    }
}
.inputFoto:hover{
    background-color: rgb(255, 164, 85);

}
.nombre_usuario_perfil {
    color: seagreen;
    font-weight: bold;
    text-align: left;
    font-size: 3.5vh;
    margin-bottom: 2rem;
    @media #{$smarmini}{
        font-size: 1.6ex;
        text-align: center;
        margin-bottom: 3%;
    }
    @media #{$smarphone}{
        font-size: 1.8ex;
        text-align: center;
        margin-bottom: 3%;
     }
}
.email_perfil {
    text-align: left;
    font-size:3.3vh;
    font-weight: 600;
    color: #413e3e;
    margin-bottom: 2rem;
    @media #{$smarmini}{
        font-size: 1.5ex;
        margin-bottom: 3%;
        text-align: center;
    }
    @media #{$smarphone}{
        font-size: 1.7ex;
        margin-bottom: 3%;
        text-align: center;
     }
}
.rol_perfil {
    text-align: left;
    font-size: 3.3vh;
    font-weight: 600;
    color: #413e3e;
    margin-bottom: 2rem;
    @media #{$smarmini}{
        font-size: 1.5ex;
        margin-bottom: 3%;
        text-align: center;
    }
    @media #{$smarphone}{
        font-size: 1.7ex;
        margin-bottom: 3%;
        text-align: center;
     }
}
.perfil_usuario_titulo {
    background-color: #f8f7f7;
    font-size: 4vh;
    padding-top: 1rem;
    color: #413e3e;
    width: auto;
    @media #{$smarmini}{
        font-size: 2ex;
        padding-top: 5%;
    }
    @media #{$smarphone}{
        font-size: 2.2ex;
        padding-top: 5%;
     }
}
.select_user {
    width: 20rem;
    margin-right: 2%;
    
}
.eliminar_usuario_perfil {
    margin-top: 3rem;
    border: none;
    width: 5rem;
    padding: 0.7rem;
    border-radius: 5px;
    background-color: rgb(51, 40, 30);
    font-size: 15px;  
    color: white;
    font-weight: bold;
    position: relative;
}
.guardar_input{
    cursor: pointer;
    text-align: center;
    background-color: sandybrown;
    border:none;
    color: white;
    @media #{$smarmini}{
        width: auto;
        height: auto;
        border-radius: 5px;
        padding: 3%;
        font-size: 1.2ex;
        margin-top: 18%;
    }
    @media #{$smarphone}{
        width: auto;
        height: auto;
        border-radius: 5px;
        padding: 3%;
        font-size: 1.4ex;
        margin-top: 18%;
     }
}
.guardar_input:hover{
    background-color: rgb(255, 164, 85);
}
.eliminar_usuario_perfil:hover {
cursor: pointer;
background-color: rgb(199, 7, 7);
}
