@import '../global.scss';


.agregar_libro {
  
  margin-top: 1rem;
  color: black;
  margin-left: -3rem;
}

.agregar_libro:hover {
  color: rgba(0, 128, 0, 0.774);
}


.sucursales_button_home:hover {
  background-color: rgb(255, 168, 6);
  cursor: pointer;
}

.nav_principal{
    padding-top: 1%;
    background-color: #f8f7f7;
    width: 100%;
    @media #{$smarphone}{
      padding-top: 0px;
    }
  }
  .mainNavBar{
      position: relative;
      width: 100%;
      align-items: center;
      padding-bottom: 1%;
      display:grid;
      grid-template-columns: 10% 80% ;
      column-gap: 5%;
      @media #{$smarmini}{
        padding-bottom: 0rem;
      }
      @media #{$smarphone}{
        padding-bottom: 0rem;
        column-gap: 3%;
      }
      @media #{$tablet}{
        padding-bottom: 2%;
        column-gap: 3%;
      }
  }
  .cantainer-principal-nav{
    width: 100%;
      display: grid;
      grid-template-columns: 8% 30% 30% 29%;
      column-gap: 3%;
  }
  .search1{
      width: 100%;
      height: 100%;
  }
  .searchBar {
    width: 100%;
    background-color: rgb(233, 233, 233);
    margin-top: 20%;
    border-radius: 8px;
    display: flex;
    @media #{$smarmini}{
        display: grid;
        grid-template-columns: 20% 75%;
        margin-top: 30%;
        border-radius: 3px;
    }
    @media #{$smarphone}{
      display: grid;
      grid-template-columns: 20% 75%;
      margin-top: 30%;
      margin-left: 4%;
      border-radius: 5px;
    }
    @media #{$tablet}{
      display: grid;
      grid-template-columns: 20% 75%;
      margin-top: 30%;
      margin-left: 10%;
      border-radius: 8px;
    }
}

.search-input {
  border: none;
  width: 100%;
  padding: 4%;
  background-color: transparent;
  outline: none;
  color: rgb(37, 36, 36);
  font-weight: bold;
  font-size: 2vh;
    @media #{$smarmini}{
        font-size: 0.5ex;
    }
    @media #{$smarphone}{
      font-size: 1ex;
    }
    @media #{$tablet}{
      font-size: 1.4ex;
    }
}

.search-btn {
  align-self: center;
  width: 20%;
  width:3vw ;
  color: rgb(56, 55, 55);
  @media #{$smarmini}{
    width:3vw ;
  }   
  @media #{$smarphone}{
   width: 3.5vw;
  }
  @media #{$tablet}{
    width: 3.5vw;
  }
}
.funcionUser{
  width: 100%;
  height: 100%;
}
.icono_Usuario{
  width: 100%;
  height: 100%;
}

.search-input::placeholder{
  color: rgb(105, 104, 104);
}
 .div-sucurandDeseos{
      display: grid;
      grid-template-columns: repeat(2,45%);
      column-gap: 4%;
      margin-top: 20%;
      @media #{$smarmini}{
       margin-top: 30%;
      }
      @media #{$smarphone}{
        column-gap: 10%;
        margin-top: 30%;
      }
      @media #{$tablet}{
        column-gap: 10%;
        margin-top: 30%;
        margin-left: 10%;
      }

  }
  .sucursales_button_home a{

    @media #{$smarmini}{
        font-size: 1.2ex;
    }
    @media #{$smarphone}{
      font-size: 1.6ex;
    }
    @media #{$tablet}{
      font-size: 1.8ex;
    }
  }
  .sucursales_button_home{
        border: none;
        max-width: 100%;
        height: 90%;
        border-radius: 8px;
        background-color: sandybrown;
        color: white;
        @include caja-flex(flex,column,center,center,nowrap);
        font-size: 2.3vh;
        text-decoration: none !important;
        @media #{$smarmini}{
          border-radius: 03px;
            height:2.5vh;
        }
        @media #{$smarphone}{
          border-radius: 5px;
          font-weight: 500;
          height:3.5vh;
          padding-left:13% ;
          padding-right: 13%;
        }
        @media #{$tablet}{
          border-radius: 5px;
          font-weight: 500;
          height:4.5vh;
        }
    }
.user-cart{
    position: relative;
      display: grid;
      grid-template-columns: repeat(2,1fr);
 }
  .img_perfil_nav{
    border-radius: 100%;  
    margin-top: 10%;
    min-height: 100%;
    min-width: 100%;

    @media #{$smarmini}{

      margin-top: 0%;

    }
    @media #{$smarphone}{
      margin-top: 0%;

    }
    @media #{$tablet}{
      margin-top: 1.3vh;

    }
    @media #{$desktop}{
      min-height: 2vh;
      margin-top: 0px;
      min-width: 2vw;
      
  
    }
    @media #{$pantallaGrande}{
      min-height: 10%;
      min-width: 10%;
    }
    @media #{$pantallaExtraGrande}{
      margin-right: 10%;
    }
    &_i{
      margin-top: 10%;
      height: 25%;
      width: 25%;
      @media #{$smarmini}{
        margin-top: 10%;
        min-height: 5.5vh;
        min-width: 6vh;
      }
      @media #{$smarphone}{
        margin-top: 0%;
        min-height: 6.5vh;
        min-width: 7vh;
        margin-left: -30%;
      }
      @media #{$tablet}{
        margin-top: 10%;
        margin-left: -50%;
        min-height: 10vh;
        min-width: 10vh;
      }
      @media #{$desktop}{
        min-height: 6vh;
        margin-top: 0px;
        min-width: 7vw;  
      }
      @media #{$pantallaGrande}{
        min-height: 8vh;
        margin-top: 0px;
        min-width: 9vw;
      }
      @media #{$pantallaExtraGrande}{
        min-height: 6vh;
        margin-top: 0px;
        min-width: 6.8vw;
      }
    }
  }

  .img_logo_nav {
    width: 80%;
    height: 70%;
    margin-top: 45%;
    border-radius: 100%;
      @media #{$smarmini}{
          margin-top:75%;
          height: 4.8vh;
          width: 8vw;
      }
      @media #{$smarphone}{
        margin-top:75%;
        height: 5.8vh;
        width: 9vw;
      }
      @media #{$tablet}{
        margin-top:75%;
        height: 9vh;
        width: 9vw;
      }
  }

  #leftNavBar{
    width: 400px;
    height: 100vh;
    background-color: rgb(233, 233, 233);
    @include caja-flex(flex,column,space-evenly,center,nowrap);
    position: absolute;
    z-index: 8;
    top:-6%;
    left: -100%;
    transition: all 0.8s ease-in-out;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    @media #{$smarmini}{
       width:50vw;
    }
    @media #{$smarphone}{
      width:50vw;
    }
    @media #{$tablet}{
      width:40vw;
    }
  }
  
  .leftNavBarButton_active{
    position: absolute;
    z-index: 9;
    top: 30%;
    background-color: rgba(145, 175, 214, 0.438);
    left: 5%;
    width: 4%;
    height: 48%;
    border: none;
    border-radius:100%;
    padding-left: 0.9vh;
    padding-right: 0.9vh;
    padding-top: 0.5vh;
      @media #{$smarmini}{
        height: 4vh;
        width: 4.5vw;
        left: 3%;
        top: 30%;
     }
     @media #{$smarphone}{
      height: 5vh;
      width: 5.5vw;
      left: 3%;
      top: 30%;
     }
     @media #{$tablet}{
      border-radius:100%;
      height: 7.5vh;
      width: 5.95vw;
      left: 2%;
      top: 30%;
    }
  }
  
.leftNavBarButton_inactive{
    position: absolute;
    z-index: 9;
    top: 35%;
    background-color: rgba(145, 175, 214, 0.438);
    left: 5%;
    width: 4%;
    height: 55%;
    border: none;
    border-radius:100%;
    padding-left: 0.9vh;
    padding-right: 0.9vh;
    padding-top: 0.5vh;
    @media #{$smarmini}{
      height: 4vh;
      width: 4.5vw;
      left: 3%;
      top: 30%;
    }
    @media #{$smarphone}{
      height: 5vh;
      width: 5.5vw;
      left: 3%;
      top: 30%;
    }
    @media #{$tablet}{
      border-radius:100%;
      height: 7.5vh;
      width: 5.95vw;
      left: 2%;
      top: 30%;
    }
}

//------------------------carro----------------------------

#rightNavBar{
  width: 400px;
  height: 100vh;
  background-color: rgb(233, 233, 233);
  @include caja-flex(flex,column,space-evenly,center,nowrap);
  position:fixed;
  transition: all 0.8s ease-in-out;
  z-index: 8;
  top:-6%;
  right: -100vw;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  @media #{$smarmini}{
    width:50vw;
  }
  @media #{$smarphone}{
    width:50vw;
  }
  @media #{$tablet}{
    width:40vw;
  }
}

#rightNavBarButton_active {
  background-color: rgba(145, 175, 214, 0.438);
  position: absolute;
  width: 19%;
  height: 55%;
  top: 40%;
  z-index: 9;
  color: rgb(44, 41, 41);
  border-radius: 100%;
  right: 1vw;
    @media #{$smarmini}{
      top:30%;
      width: 5.5vw;
      height:3.2vh;
      font-size: 1.2ex;
    }
    @media #{$smarphone}{
      top:32%;
      width: 7vw;
      height:4.5vh;
      font-size: 1.2ex;
    }
    @media #{$tablet}{
      top:32%;
      width: 7vw;
      height:45%;
      border-radius:100%;
      font-size: 1.2ex;
    }
    @media #{$desktop}{
      right: 15%;
  
    }
    @media #{$pantallaGrande}{
      margin-right: 15%;
    }
    @media #{$pantallaExtraGrande}{
      margin-right: 10%;
    }
}
  
#rightNavBarButton_inactive {
  background-color: rgba(145, 175, 214, 0.438);
  position: absolute;
  width: 19%;
  height: 55%;
  top: 40%;
  z-index: 9;
  color: rgb(44, 41, 41);
  border-radius: 100%;
  right: 1vw;
    @media #{$smarmini}{
      top:30%;
      width: 5.5vw;
      height:3.2vh;
      font-size: 1.2ex;
    }
    @media #{$smarphone}{
      top:32%;
      width: 7vw;
      height:4.5vh;
      font-size: 1.2ex;
    }
    @media #{$tablet}{
      top:32%;
      width: 7vw;
      height:45%;
      border-radius:100%;
      font-size: 1.2ex;
    }
    @media #{$desktop}{
      right: 15%;
  
    }
    @media #{$pantallaGrande}{
      margin-right: 15%;
    }
    @media #{$pantallaExtraGrande}{
      margin-right: 10%;
    }
}
#rightNavBarButton_inactive:hover {
  background-color: rgba(145, 175, 214, 0.438);
}
.rightNavBarButton {
    display: flex;
    align-items: center;
    background-color: rgb(233, 233, 233);
    padding: 1vh;
    border-radius: 10px;
    cursor: pointer;
}
.icono_nav {
    font-size: 2rem;
    color: rgb(68, 63, 63);
    cursor: pointer;
    @media #{$smarmini}{
        font-size: 1.2rem;
    }
    @media #{$smarphone}{
      font-size: 3ex;
    }
    @media #{$tablet}{
      font-size: 4.5ex;
    }
}

#loginNavBarbutton_active{
  position: absolute;
  top: 2vh;
  z-index: 9;
  width: 100%;
  height: 100%;
  @media #{$smarmini}{
    width: 8vw;
    height:2.5vh;
    left: 5%;
    top:40%;
    font-size: 1.2ex;
  }
  @media #{$smarphone}{
    width: 9vw;
    height:4.5vh;
    left: 5%;
    top:40%;
    font-size: 1.2ex;
  }
  @media #{$tablet}{
    width: 8.5vw;
    height:50%;
    left: 10%;
    top:30%;
    font-size: 1.2ex;
  }
  @media #{$desktop}{
    width: 7vw;
    height:auto;
    left: 10%;
    top:30%;
    font-size: 1.2ex;

  }
  @media #{$pantallaGrande}{
    width: 6vw;
    height:auto;
    left: 10%;
    top:30%;
    font-size: 1.2ex;
  }


}

#loginNavBarbutton_inactive{
  position: absolute;
  top: 2vh;
  z-index: 9;
  width: 100%;
  height: 100%;
  @media #{$smarmini}{
    width: 8vw;
    height:2.5vh;
    left: 5%;
    top:40%;
    font-size: 1.2ex;
  }
  @media #{$smarphone}{
    width: 9vw;
    height:4.5vh;
    left: 5%;
    top:40%;
    font-size: 1.2ex;
  }
  @media #{$tablet}{
    width: 8.5vw;
    height:50%;
    left: 10%;
    top:30%;
    font-size: 1.2ex;
  }
  @media #{$desktop}{
    width: 6.5vw;
    height:auto;
    left: 10%;
    top:30%;
    font-size: 1.2ex;

  }
  @media #{$pantallaGrande}{
    width: 5.5vw;
    height:auto;
    left: 10%;
    top:32%;
    font-size: 1.2ex;
  }


}

.icono_nav_der {
  min-height: 3.5vh; 
  min-width: 2vw;
   width: auto;
    @media #{$smarmini}{
       min-height: 3vh; 
       min-width: 3vw;
    }
    @media #{$smarphone}{
      min-height: 3.5vh; 
      min-width: 3.5vw;
    }
    @media #{$tablet}{
      min-height: 3.5vh; 
      min-width: 3.5vw;
    }
}

.numero_icono {
    font-size: 4vh;

    font-weight: bold;
    color: sandybrown;;
    margin-left: 10%;
    @media #{$smarmini}{
      font-size: 2ex;
    }
    @media #{$smarphone}{
      font-size: 3ex; 
    }
    @media #{$tablet}{
      font-size: 4ex; 
    }
}

.loginNavBarbutton{
    display: flex;
    align-items: center;
    padding: 0.1rem;
    border-radius: 10px;
    cursor: pointer;
}
#loginNavBar{
  width: 25vw;
  height: 100vh;
  background-color: rgb(233, 233, 233);
  @include caja-flex(flex,column,space-evenly,center,nowrap);
  position:fixed;
  transition: all 0.8s ease-in-out;
  z-index: 8;
  top:-6%;
  right: -100vw;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  @media #{$smarmini}{
    width: 50vw;
  }
  @media #{$smarphone}{
    width: 50vw;
  }
  @media #{$tablet}{
    width:40vw;
  }
}

  #buttonsForms{
    transition: all 0.5s ease-in-out;
    z-index: 2;
    position: absolute; 
    height: 100%;
    width: 100%;
  @include caja-flex(flex,column,space-evenly,center,nowrap);


}

.userLoginButton{
  @include caja-flex(flex,column,center,center,nowrap);
    width: 100%;
    height: 30%;
    &_i{
      background-color: sandybrown;
      width: 40%;
      color: white;
      cursor: pointer;
      border: none;
      padding: 2%;
      font-weight: bold;
      border-radius: 5px;
      font-size: 2vh;
      @media #{$smarmini}{
        font-size: 1ex;
      }
      @media #{$smarphone}{
        font-size: 1.2ex;
      }
      @media #{$tablet}{
        font-size: 1.5ex;
        padding-left: 3%;
        padding-right: 3%;
      }
 

    }
    &_t{
      color: #1c1b1b;
      font-size: 2vh;
      @media #{$smarmini}{
        font-size: 1.1ex;
      }
      @media #{$smarphone}{
        font-size: 1.5ex;
      }
      @media #{$tablet}{
        font-size: 1.8ex;
      }  

    }
    @media #{$smarmini}{
        height: 10%;
        width: 100%;
    }
    @media #{$smarphone}{
      height: 10%;
      width: 100%;
    }
    @media #{$tablet}{
      height: 10%;
      width: 100%;
   }
}
.userLoginButton_i:hover{
    background-color: orange;
}

.userLoginButtonSesion{
    cursor: pointer;
    border: none;
    width: 50%;
    padding: 0.7rem;
    opacity: 0.7;
    border-radius: 5px;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 2vh;
    @media #{$smarmini}{
      width: 80%;
      font-size: 1.2ex;
      padding: 3%;
      margin-left: 4%;
    }
    @media #{$smarphone}{
      width: 77%;
      font-size: 1.4ex;
      padding: 3%;
      margin-left: 4%;
    }
    @media #{$tablet}{
      width: 60%;
      font-size: 1.6ex;
      padding: 3%;
      margin-left: 4%;
   }
}
.userLoginButtonSesion:hover{
    background-color: red;
    opacity: 1;
}


//--------ordenamiento

.container_filter{
  width: 100%;
  height: 100%;
  margin-top: 20%;
  @include caja-flex(flex,column,center,center,nowrap);
  @media #{$smarmini}{
    margin-top: 30%;
  }
  @media #{$smarphone}{
    margin-top: 20%;
  }
  @media #{$tablet}{
    margin-top: 20%; 
 }
}
.titulo_leftNavBar {
  width: 100%;
  height: 10%;
  &_i{
    font-size: 4vh;
   color: #181717;
    @media #{$smarmini}{
      font-size: 2.3ex;
    }
    @media #{$smarphone}{
      font-size: 2.5ex;
    }
    @media #{$tablet}{
      font-size: 2.7ex;
   }
  }

}
.botonesPaginadoOrdenado{
  height: 80%;
  width: 100%;
}
.contenedor_filtrado{
  height: 55%;
  width: 100%
}
.contenedor_ordenado {
  height: 20%;
  width: 100%;
  @include caja-flex(flex,column,center,center,nowrap);
}
.contenedor_ordenado_div{
  width: 90%;
  height: 100%;
}

.titulo_ordenado {
  color: #181717;
  font-size: 2.5vh;
  width: auto;
  margin-top: 30%;
  @media #{$smarmini}{
    margin-top: 13%;
    font-size: 1.7ex;
  }
  @media #{$smarphone}{
    margin-top: 13%;
    font-size: 1.7ex;
  }
  @media #{$tablet}{
    margin-top: 20%;
    font-size: 1.7ex;
  }
}

#select {
  font-size: 2.3vh;
  cursor: pointer;
  width: 100%;
  border-radius: 5%;
  @media #{$smarmini}{
    font-size: 1.4ex;
  }
  @media #{$smarphone}{
    font-size: 1.5ex;
  }
  @media #{$tablet}{
    font-size: 1.7ex;
  }
}
.css-yk16xz-control{
  justify-content: center;
}
.css-g1d714-ValueContainer{
  justify-content: center;
}
.css-1wa3eu0-placeholder{
  font-size: 2.4vh;
  @media #{$smarmini}{
    font-size: 1.8ex;
  }
  @media #{$smarphone}{
    font-size: 2ex;
  }
  @media #{$tablet}{
    font-size: 2.2ex;
  }
}
.css-1hb7zxy-IndicatorsContainer{
  justify-content: center;
}
.css-tj5bde-Svg{
  width: 100%;
}

.filtrado_leftNavBar {
  display: flex;
  justify-content: center;
  height: 25%;
  width: 90%;
}

.filtrado_icon {
  color: #181717;
  width: 2.3vw;
  margin-right: 5%;
  height: auto;
  @media #{$smarmini}{
   width: 2.2ex;
  }
  @media #{$smarphone}{
    width: 2.6ex;
  }
  @media #{$tablet}{
    width: 3ex;
  }
}

.titulo_filtrado {
  font-size: 4vh;
  width: auto;
  color: #181717;
  margin-top: 3%;
  @media #{$smarmini}{
    margin-top: 13%;
    font-size: 2ex;
  }
  @media #{$smarphone}{
    margin-top: 13%;
    font-size: 2.5ex;
  }
  @media #{$tablet}{
    margin-top: 5%;
    font-size: 2.6ex;
  }
}

.menu_filtrado_precio {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 30%;
}

.titulo_filtrado_precio {
  margin-top: 3vh;
  font-size:  3vh;
  width: auto;
  margin-bottom: 5%;
  color: #181717;
  @media #{$smarmini}{
    font-size: 1.8ex;
  }
  @media #{$smarphone}{
    font-size: 2ex;
  }
  @media #{$tablet}{
    font-size: 2.2ex;
  }
}

.precio_min_input {
  border: none;
  border-radius: 3px;
  font-size: 2.3vh;
  padding-left: 0.3rem;
  color: #181717;
  width: 35%;
  @media #{$smarmini}{
    font-size: 1.1ex;
  }
  @media #{$smarphone}{
    font-size: 1.5ex;
  }
  @media #{$tablet}{
    font-size: 1.7ex;
  }
}

.precio_icon {
  font-size: 3.5vh;
  color: #181717;
  width:15%;
  @media #{$smarmini}{
    font-size: 1.2ex;
    width:15%;
  }
  @media #{$smarphone}{
    font-size: 2ex;
    width:15%;
  }
  @media #{$tablet}{
    font-size: 2.4ex;
    width:15%;
  }
}

.button_filtrar_precio_activo {
  border: none;
  float: right;
  margin-right: 1.7rem;
  border-radius: 5px;
  background-color: sandybrown;
  color: rgb(37, 36, 36);
  font-weight: bold;
  margin-top: 5%;
  padding: 3%;
  font-size: 2.3vh;
  width: auto;
  @media #{$smarmini}{
    font-size: 1.2ex;
    font-weight: 500;
  }
  @media #{$smarphone}{
    font-size: 1.5ex;
  }
  @media #{$tablet}{
    font-size: 1.7ex;
  }
}

.button_filtrar_precio_activo:hover {
  background-color: orange;
  cursor: pointer;
}

.button_filtrar_precio_inactivo {
  display: none;
}
.filtrado_idioma{
  justify-content: center;
  width: 100%;
  height: 30%;
  margin-top: 25%;
}
.titulo_filtrado_idioma {
  color: #181717;
  width: auto;
  margin-bottom: 5%;
  @media #{$smarmini}{
    font-size: 1.8ex;
  }
  @media #{$smarphone}{
    font-size: 2ex;
  }
  @media #{$tablet}{
    font-size: 2.2ex;
  }
}

.menu_filtrado_idioma {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80%;
}

.checkbox_filtro_idioma{
  color: #181717;
  cursor: pointer;
  &_t{
    @media #{$smarmini}{
      font-size: 1.2ex;
    }
    @media #{$smarphone}{
      font-size: 1.5ex;
    }
    @media #{$tablet}{
      font-size: 1.7ex;
    }
  }
  &_i{
    @media #{$smarmini}{
      width: 1.5ex;
    }
    @media #{$smarphone}{
      width: 1.8ex;
    }
    @media #{$tablet}{
      font-size: 2ex;
    }
  }
}