@import '../global.scss';

.opcionesUser{
    @include caja-flex(flex,column,space-between,center,nowrap);
    height: 90%;
    margin-top: 20%;
    @media #{$tablet}{
        height: 90%;
        margin-top: 20%;
    }
    @media #{$smarmini}{
        height: 100%;
        margin-top: 0%;
    }
    @media #{$smarphone}{
        height: 100%;
        margin-top: 0%;
    }
}
.container_opcionesUser{
    @include caja-flex(flex,column,space-evenly,center,nowrap);
    width: 80%;
    height: 30%;
}
.perfilGo{
    color:rgb(255, 255, 255);
    font-size: 2vh;
    padding: 3%;
    background-color: sandybrown;
    opacity: 0.9;
    width: auto;
    border-radius: 5px;
    @media #{$smarmini}{

        font-size: 1.2ex;
    }
    @media #{$smarphone}{
        font-size: 1.4ex;
    }
    @media #{$tablet}{
        font-size: 1.6ex;
      }
}
.perfilGo:hover{
    background-color: orange;
}

.perfilGo:active{
opacity:1;
}

.profilePhoto{
    height: 50%;
    width: 60%;
    border-radius: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    @media #{$smarmini}{
        width: 70%;
        height: 40%;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    @media #{$smarphone}{
        width: 80%;
        height: 60%;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    @media #{$tablet}{
        width: 70%;
        margin-top: 10%;
        margin-bottom: 10%;
        height: 50%;
      }
}
.welcome{
    color:black;
    font-size: 3vh;
    @media #{$smarmini}{
        font-size: 1.4ex;
    }
    @media #{$smarphone}{
        font-size: 2ex;
    }
    @media #{$tablet}{
        font-size: 2.3ex;
      }
}

