@import '../global.scss';
.opcionesAdmin{
    @include caja-flex(flex,column,center,center,nowrap);
    height: 100%;
    width: 100%;
    &_div{
        @include caja-flex(flex,column,space-between,center,nowrap);
        height: 100%;
        width: 60%;
 
    }
}


h1{
    font-size: 25px;
    margin-bottom: 1rem;
    color: #413e3e;
}

.perfiles{
    width: auto;
    color:rgb(255, 255, 255);
    font-size: 15px;
    padding: 0.8rem;
    margin-bottom: 5px;
    opacity: 0.7;
    font-weight: bold;
    border-radius: 5px;
    background-color: seagreen;
}

.perfiles:hover{
    opacity: 1;
    background-color: green;
}

.agregar{

    width: auto;
    color:rgb(255, 255, 255);
    font-size: 15px;
    padding: 0.8rem;
    background-color: sandybrown;
    margin-bottom: 5px;
    opacity: 0.7;
    border-radius: 5px;
    font-weight: bold;
}

.agregar:hover{
    opacity: 1;
    background-color: orange;
}
.categorias {

    width: auto;
    color:rgb(255, 255, 255);
    font-size: 15px;
    padding: 0.8rem;
    background-color: rgb(9, 9, 110);
    margin-bottom: 5px;
    opacity: 0.7;
    border-radius: 5px;
    font-weight: bold;
}
.categorias:hover {
    opacity: 1;
}