.wishlist{
   padding-top: 5%;
   padding-left: 5%;
   height: 100vh;
   background-color: #f8f7f7;
    &_container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap:3rem;
    }
}

.libro_W {
    width: 15rem;
    height: 24rem;
    border-radius: 10px;
    background-color: rgb(233, 233, 233);
   
  }
  
  .producto_W {
    margin: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  .titulo_W{
    font-weight: bold;
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
    font-size: 17px;
    height: 1rem;
    color: #181717;
   
    
  }
  .imagen_W {
    width: 10rem;
    height: 14rem;
    margin-top: -1rem;
    z-index: 0;
   
  }
  .autor_W {
    height: 2rem;
    color: #413e3e;
    font-weight: bold;
    margin-top: 0.5rem;
    
   
  }
  .producto_PDW {
      display: flex;
      width: 100%;
    &_delete{
      height: 3.5rem;
      margin-left: 80%;
      font-size: 40px;
      color: rgb(221, 98, 98);
      border: none;
      background: none;
      cursor: pointer;
    }
  }
  .producto_PDW_delete:hover {
    color: rgb(248, 153, 153);
  }
  
  
  