@import '../global.scss';

.pedidosUser{
    width: 20vw;
    height: 45vh;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 2rem;
    background-color: #d4cfcf50;
    float: initial;
    border-style: outset;
    padding: 1rem;
    @media #{$smarmini}{
        width: 60%;
        height: auto;
    }
    @media #{$smarphone}{
        width: 60%;
        height: auto;
    } 
    @media #{$tablet}{
        width: 70%;
        height: 50vh;
    }

}

.linkCompra{
    text-decoration: none;
    color: #413e3e;
    font-size: 2.5vh;
    @media #{$smarmini}{
       font-size: 1.5ex;
    }
    @media #{$smarphone}{
        font-size: 1.7ex;
    } 
    @media #{$tablet}{
        font-size: 2ex;
    }
}
.linkCompra:hover {
color: rgb(17, 14, 14);
}

.numCompra{
    text-decoration: underline;
    font-style: oblique;
    text-align: center;
    margin-bottom: 5%;
    color: #413e3e;
    font-size: 2vh;
    @media #{$smarmini}{
       font-size: 1.4ex;
       text-align: left;
    }
    @media #{$smarphone}{
        font-size: 1.7ex;
        text-align: left;
    } 
    @media #{$tablet}{
        text-align: center;
        font-size: 1.8ex;
    }
}

.stateName{
    color: cornsilk;
    font-size: 3vh;
}
.orden_nombre {
   color: seagreen;
   font-weight: bold; 
   font-size: 1.2rem;
   margin-bottom: 0.5rem;
   
}
.fecha_estado {
  width: auto;
  font-size: 2.2vh;
  text-align: left;
  color: #413e3e;
    @media #{$smarmini}{
        font-size: 1.3ex;
        margin-bottom: 3%;   
    }
    @media #{$smarphone}{
        font-size: 1.5ex;
        margin-bottom: 3%; 
    } 
    @media #{$tablet}{
        font-size: 1.6ex;
        margin-bottom: 3%; 
    }
}
.orden_div{
    width: 100%;
    height: 50%;
}
.prod_orden {
    font-size: 2vh;
    margin-bottom: 2%;
    font-weight: 500;
    color: #413e3e;
    @media #{$smarmini}{
        font-size: 1.2ex;
        margin-bottom: 1%;  
    }
    @media #{$smarphone}{
        font-size: 1.4ex;
        margin-bottom: 3%; 
    } 
    @media #{$tablet}{
        font-size: 1.6ex;
        margin-bottom: 3%; 
    }
}
.productos_orden {
    height: 10rem;
    margin-top: 4%;
    overflow-y: auto;
    height: 40%;
    @media #{$smarmini}{
        height: 70%;  
        margin-top: 3%;
    }
    @media #{$smarphone}{
        height: 70%;  
        margin-top: 3%;
    } 
    @media #{$tablet}{
        height: 10vh;  
        margin-top: 3%;
        padding-right: 2%;
    }
}
.productos_orden_t{
    color: #413e3e;
    font-size: 2.5vh;
    margin-top: 2%;
    @media #{$smarmini}{
        font-size: 1.3ex;
    }
    @media #{$smarphone}{
        font-size: 1.6ex;
    } 
    @media #{$tablet}{
        font-size: 2ex;
    }
}

.valor_orden {
    margin-top: 6%;
    font-size: 2.3vh;
    color: #413e3e;
    font-weight: bold;
    @media #{$smarmini}{
        font-size: 1.5ex;
    }
    @media #{$smarphone}{
        font-size: 1.6ex;
    } 
    @media #{$tablet}{
        font-size: 1.7ex;
    }
}
.peso_valor_orden {
    color: sandybrown;
    margin-right: 0.5rem;
    font-weight: bold;
}
